/* font-family: 'Kalnia', serif;
font-family: 'Merriweather', serif;
font-family: 'Mukta', sans-serif; */
h1{
    font-family: 'Kalnia', serif;
    font-size: 2.5rem;
}

h3{
    font-family: 'Kalnia', serif;
    font-size: 1.5625rem;
    font-style: italic;
}

label,input{
    font-family: 'Merriweather', serif;
    font-size: 1.25rem;
}
    

#home{
    background-color: #163020;
}

#layer{
    background-color: #0000009f;
}

#home .bookmark{
    background-color: #304D30;
    color: #EEF0E5 ;
    box-shadow: 0 0 15px #fff inset;
}

#home .bookmark button{
    background-color: #706233d1;
    color: #EEF0E5;
    box-shadow:  2px 2px 10px #70623371;
    font-family: 'Kalnia', serif;
    font-size: 1.0625rem;
    font-style: italic;
    
}

#home .bookmark input::placeholder{
    color: #706233d1 ;
}

#home .bookmark table{
    background-color: #706233;
    font-family: 'Mukta', sans-serif;
    font-size: 1.1875rem;
}


#home .bookmark table th{
    color: #B0926A;
}

#home .bookmark table tbody td,#home .bookmark input,#home .bookmark a{
    color: #706233;
    font-family: 'Kalnia', serif;
    font-size: 1.0625rem;
}

.form-control:focus{
    box-shadow: 0 0 15px transparent inset;
    border-color:  #B0926A;
} 

.modal-backdrop.show{
    display: none;
}

.btn-close{
    --bs-btn-close-focus-shadow: transparent;
}

#exampleModal .modal-body, #exampleModal .modal-header{
    background-color:  #B0926A;
    color: #EEF0E5;

}


#message  i{
    color: #f1d471;
    font-size: 1.25rem;
    padding-right: 5px;
}


@media screen and (max-width:576px) {
	html{
        font-size: 12px;
    }
}

@media screen and (min-width:576px) and (max-width:700px) {
	html{
        font-size: 14px;
    }
}

